@font-face {
   font-family: 'Montserrat';
   src:  url('../fonts/woff2/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/woff/Montserrat-Bold.woff') format('woff'),
         url('../fonts/EOT/Montserrat-Bold.eot') format('embedded-opentype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
      font-family: 'Montserrat';
      src:  url('../fonts/woff2/Montserrat-SemiBold.woff2') format('woff2'),
            url('../fonts/woff/Montserrat-SemiBold.woff') format('woff'),
            url('../fonts/EOT/Montserrat-SemiBold.eot') format('embedded-opentype');
      font-weight: 600;
      font-style: normal;
   }

   @font-face {
      font-family: 'Montserrat';
      src:  url('../fonts/woff2/Montserrat-Medium.woff2') format('woff2'),
            url('../fonts/woff/Montserrat-Medium.woff') format('woff'),
            url('../fonts/EOT/Montserrat-Medium.eot') format('embedded-opentype');
      font-weight: 500;
      font-style: normal;
   }

   @font-face {
      font-family: 'Montserrat';
      src:  url('../fonts/woff2/Montserrat-Regular.woff2') format('woff2'),
            url('../fonts/woff/Montserrat-Regular.woff') format('woff'),
            url('../fonts/EOT/Montserrat-Regular.eot') format('embedded-opentype');
      font-weight: 400;
      font-style: normal;
   }